<style tytpe="text/css">

.caixa { font-family:Verdana; font-size:10px; color:#0066CC; background-color:#FFFFFF; border:1px solid #C6DEEC; padding:2px; padding-left:10px;}

.botaooo { font-family:Verdana; font-size:10px; font-weight:bold; color:#FFFFFF; background-color:#333333; border:1px solid #CCCCCC; padding-bottom:1px; cursor: pointer; padding:2px;}
.botaooo2 { font-family:Verdana; font-size:10px; font-weight:bold; color:#FFFFFF; background-color:#333333; border:1px solid #CCCCCC; padding-bottom:1px; cursor: text; padding:2px;}
.botaooo3 { font-family:Verdana; font-size:10px; font-weight:bold; color:#999900; background-color:#333333; border:1px solid #CCCCCC; padding-bottom:1px; cursor: text; padding:2px;}
.botaooo4 { font-family:Verdana; font-size:10px; font-weight:bold; color:#FFFFFF; background-color:#333333; border:1px solid #CCCCCC; padding-bottom:1px; cursor: auto; padding:2px;}

.botao2 { font-family:Verdana; font-size:10px; font-weight:bold; color:#FFFFFF; background-color:#CC0000; border:1px solid #CCCCCC; padding-bottom:1px; cursor: pointer; padding:2px;}
.botao22 { font-family:Verdana; font-size:9px; font-weight:bold; color:#FFFF00; background-color:#CC0000; border:1px solid #CCCCCC; padding-bottom:0px; cursor: text; padding:1px; width:120px;}

.botaoa { font-family:Verdana; font-size:10px; font-weight:bold; color:#FFFFFF; background-color:#333333; border:1px solid #CCCCCC; padding-bottom:1px; cursor: pointer; padding:2px; width:230px;}

.botaoa2 { font-family:Verdana; font-size:10px; font-weight:bold; color:#FFFFFF; background-color:#CC0000; border:1px solid #CCCCCC; padding-bottom:1px; cursor: pointer; padding:2px; width:150px;}

.botaofifa { font-family:Verdana; font-size:9px; font-weight:bold; color:#FFFFFF; background-color:#009900; border:1px solid #CCCCCC; padding-bottom:0px; cursor: pointer; padding:2px; width:120px;}
.botaofifa2 { font-family:Verdana; font-size:9px; font-weight:bold; color:#FFFFFF; background-color:#009900; border:1px solid #CCCCCC; padding-bottom:0px; cursor: text; padding:1px; width:120px;}
.botaofifa3 { font-family:Verdana; font-size:9px; font-weight:bold; color:#FFFF00; background-color:#0033FF; border:1px solid #CCCCCC; padding-bottom:0px; cursor: text; padding:1px; width:120px;}
.botaofifa4 { font-family:Verdana; font-size:9px; font-weight:bold; color:#FFFF00; background-color:#0033FF; border:1px solid #CCCCCC; padding-bottom:0px; cursor: text; padding:1px; width:120px;}
</style>


