<style tytpe="text/css">
.fonte{Font-Family: arial; Font-Size: 8pt; Font-Style: normal; color: #666666; Text-Decoration: none}
.fonte_link{Font-Family: arial; Font-Size: 8pt; Font-Style: normal; Text-Decoration: none}
.botao{font-family: verdana; font-size: 10 px;background-color:;}
a,a:link{color:'#FF9900';text-decoration:none}
a:active{color:'#FF9900'}
a:visited{color:'#FF9900'}
a:hover{text-decoration:none;color="black";size:1}
</style>
